<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ansopedia - Contact</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="images/ansopedia_logo.png" alt="Ansopedia">
        </div>
        <div class="template-body">
            <div class="header">
                <div class="icon">
                    <img src="images/unlock_light.png" alt="Unlock">
                </div>
                <p>Welcome to Ansopedia</p>
            </div>
            <div class="message">
                <p>Hello, <span class="user">{{name}}</span> </p>
                <p>You have contact us.</p>
                <p>Your message is:</p>
               
                <p class="light">{{message}}.</p>
            </div>
            <div class="footer">
                <div class="contact">
                    <span>Contact</span>
                    <div class="info">
                        <div><i class="material-icons" style="font-size:16px;">location_on</i><address>Rajkot, Gujarat, India - 360020</address></div>
                        <div><i class="material-icons" style="font-size:16px;">language</i><p><a href="ansopedia.com">Ansopedia.com</a></p></div>
                        <div><i class="material-icons" style="font-size:16px;">email</i><a href="mailto:contact@ansopedia.com">contact@ansopedia.com</a></div>
                    </div>
                </div>
                <div class="social-share">
                    <div class="icons">
                        <a href="https://www.facebook.com/AnsopediaGroup" title="Facebook" target="_blank">
                            <img src="images/facebook_light.png" alt="fb">
                        </a>
                        <a href="https://twitter.com/AnsopediaGroup" title="Facebook" target="_blank">
                            <img src="images/twitter_light.png" alt="t">
                        </a>
                        <a href="https://www.instagram.com/ansopedia/" title="Facebook" target="_blank">
                            <img src="images/instagram_light.png" alt="In">
                        </a>
                    </div>
                    <p>Company ©  All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>