@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: #f6f6f6;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 126, 54, 0.05);
}

.logo {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 16rem;
}

.logo img {
    width: 25rem;
}

.template-body .header {
    background-color: #272727;
    color: #fff;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 16rem;
    flex-direction: column;
}

.template-body .header .icon {
    display: flex;
    margin: 1rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    float: right;
}

.template-body .header .icon img {
    height: 6rem;
}

.template-body .header p {
    font-size: 2.4rem;
}

.template-body .message {
    color: #615b5b;
    padding: 2rem;
}

.template-body .message p {
    margin: 1.5rem 0;
}

.template-body .message .user {
    font-size: 2.4rem;
    font-weight: 500;
}

.template-body .message .secret-code {
    text-align: center;
}

.template-body .message .secret-code a {
    display: inline-block;
    color: #fff;
    background-color: #272727;
    padding: 1rem 2rem;
    font-weight: 500;
    text-decoration: none;
}

.template-body .message .secret-code span {
    display: inline-block;
    color: #fff;
    background-color: #272727;
    padding: 1rem 2rem;
    font-weight: 500;
}

.template-body .message .light {
    font-style: italic;
    color: #827878;
}

.template-body .footer {
    background-color: #272727;
    color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

.template-body .footer .contact {
    margin-right: 1.6rem;
    padding-right: 1.6rem;
    border-right: 1px solid #fff;
}

.template-body .footer .contact span {
    text-transform: uppercase;
}

.template-body .footer .contact .info {
    margin: 0.5rem;
}

.template-body .footer .contact .info div {
    display: flex;
    align-items: center;
}

.template-body .footer .contact .info div i {
    margin-right: 5px;
}

.template-body .footer .contact .info div a {
    word-wrap: break-word;
    text-decoration: none;
    color: #fff;
}

.template-body .footer .social-share .icons {
    display: flex;
    align-items: center;
}

.template-body .footer .social-share .icons a {
    margin: 1rem;
}

.template-body .footer .social-share .icons a img {
    width: 3.2rem;
}

@media screen and (max-width: 480px) {
    .template-body .footer {
        flex-direction: column;
        justify-content: flex-start;
    }

    .template-body .footer .contact {
        border-right: none;
        border-bottom: 1px solid #fff;
        margin: 1.6rem 0;
        padding-bottom: 1.6rem;
    }
}

/*# sourceMappingURL=main.css.map */